@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css');

html,
body {
   margin: 32px;
   padding: 0;

   font-family: 'Cascadia Code', sans-serif;

   color: #212121;
   background-color: #fafafa;

   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;

   -ms-overflow-style: none;
   scrollbar-width: none;
}

body::-webkit-scrollbar {
   display: none;
}

h1,
.italic {
   color: #0678ff;
}

a {
   font-weight: bold;
   color: #ff8d06;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

.italic {
   font-weight: bold;
   font-style: italic;
}

@media screen and (max-width: 481px) {
   body {
      margin: 0;
   }

   h1 {
      font-size: x-large;
   }

   h2 {
      font-size: large;
   }

   p,
   li,
   a {
      font-size: small;
      line-height: 1.2rem;
   }
}
