:root {
  --base-color: #d3d3d3;
  --background-color: #ffffff;
  --card-color: #fafafa;
  --text-color: #212121;
  --base-color-rgb: 211, 211, 211;
  --background-color-rgb: 255, 255, 255;
  --card-color-rgb: 250, 250, 250;
  --text-color-rgb: 33, 33, 33;
}

@-webkit-keyframes toast-anim {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-anim {
  0% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.solid_alpha_seekbar,
.solid_red_seekbar,
.solid_green_seekbar,
.solid_blue_seekbar,
.gradient_top_alpha_seekbar,
.gradient_top_red_seekbar,
.gradient_top_green_seekbar,
.gradient_top_blue_seekbar,
.gradient_bottom_alpha_seekbar,
.gradient_bottom_red_seekbar,
.gradient_bottom_green_seekbar,
.gradient_bottom_blue_seekbar {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  outline: none;
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
}

/* seekbar thumb:chrome **/
.solid_alpha_seekbar::-webkit-slider-thumb,
.solid_red_seekbar::-webkit-slider-thumb,
.solid_green_seekbar::-webkit-slider-thumb,
.solid_blue_seekbar::-webkit-slider-thumb,
.gradient_top_alpha_seekbar::-webkit-slider-thumb,
.gradient_top_red_seekbar::-webkit-slider-thumb,
.gradient_top_green_seekbar::-webkit-slider-thumb,
.gradient_top_blue_seekbar::-webkit-slider-thumb,
.gradient_bottom_alpha_seekbar::-webkit-slider-thumb,
.gradient_bottom_red_seekbar::-webkit-slider-thumb,
.gradient_bottom_green_seekbar::-webkit-slider-thumb,
.gradient_bottom_blue_seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-transition: 0.2s;
  appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.solid_alpha_seekbar::-webkit-slider-thumb:hover,
.solid_red_seekbar::-webkit-slider-thumb:hover,
.solid_green_seekbar::-webkit-slider-thumb:hover,
.solid_blue_seekbar::-webkit-slider-thumb:hover,
.gradient_top_alpha_seekbar::-webkit-slider-thumb:hover,
.gradient_top_red_seekbar::-webkit-slider-thumb:hover,
.gradient_top_green_seekbar::-webkit-slider-thumb:hover,
.gradient_top_blue_seekbar::-webkit-slider-thumb:hover,
.gradient_bottom_alpha_seekbar::-webkit-slider-thumb:hover,
.gradient_bottom_red_seekbar::-webkit-slider-thumb:hover,
.gradient_bottom_green_seekbar::-webkit-slider-thumb:hover,
.gradient_bottom_blue_seekbar::-webkit-slider-thumb:hover {
  width: 17px;
  height: 17px;
}

.gradient_top_alpha_seekbar::-webkit-slider-thumb,
.gradient_bottom_alpha_seekbar::-webkit-slider-thumb,
.solid_alpha_seekbar::-webkit-slider-thumb {
  background-color: var(--text-color);
}

.gradient_top_red_seekbar::-webkit-slider-thumb,
.gradient_bottom_red_seekbar::-webkit-slider-thumb,
.solid_red_seekbar::-webkit-slider-thumb {
  background-color: #d32f2f;
}

.gradient_top_green_seekbar::-webkit-slider-thumb,
.gradient_bottom_green_seekbar::-webkit-slider-thumb,
.solid_green_seekbar::-webkit-slider-thumb {
  background-color: #388e3c;
}

.gradient_top_blue_seekbar::-webkit-slider-thumb,
.gradient_bottom_blue_seekbar::-webkit-slider-thumb,
.solid_blue_seekbar::-webkit-slider-thumb {
  background-color: #1976d2;
}

/* seekbar thumb:firefox **/
.solid_alpha_seekbar::-moz-range-thumb,
.solid_red_seekbar::-moz-range-thumb,
.solid_green_seekbar::-moz-range-thumb,
.solid_blue_seekbar::-moz-range-thumb,
.gradient_top_alpha_seekbar::-moz-range-thumb,
.gradient_top_red_seekbar::-moz-range-thumb,
.gradient_top_green_seekbar::-moz-range-thumb,
.gradient_top_blue_seekbar::-moz-range-thumb,
.gradient_bottom_alpha_seekbar::-moz-range-thumb,
.gradient_bottom_red_seekbar::-moz-range-thumb,
.gradient_bottom_green_seekbar::-moz-range-thumb,
.gradient_bottom_blue_seekbar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.solid_alpha_seekbar::-moz-range-thumb:hover,
.solid_red_seekbar::-moz-range-thumb:hover,
.solid_green_seekbar::-moz-range-thumb:hover,
.solid_blue_seekbar::-moz-range-thumb:hover,
.gradient_top_alpha_seekbar::-moz-range-thumb:hover,
.gradient_top_red_seekbar::-moz-range-thumb:hover,
.gradient_top_green_seekbar::-moz-range-thumb:hover,
.gradient_top_blue_seekbar::-moz-range-thumb:hover,
.gradient_bottom_alpha_seekbar::-moz-range-thumb:hover,
.gradient_bottom_red_seekbar::-moz-range-thumb:hover,
.gradient_bottom_green_seekbar::-moz-range-thumb:hover,
.gradient_bottom_blue_seekbar::-moz-range-thumb:hover {
  width: 17px;
  height: 17px;
}

.gradient_top_alpha_seekbar::-moz-range-thumb,
.gradient_bottom_alpha_seekbar::-moz-range-thumb,
.solid_alpha_seekbar::-moz-range-thumb {
  background-color: var(--text-color);
}

.gradient_top_red_seekbar::-moz-range-thumb,
.gradient_bottom_red_seekbar::-moz-range-thumb,
.solid_red_seekbar::-moz-range-thumb {
  background-color: #d32f2f;
}

.gradient_top_green_seekbar::-moz-range-thumb,
.gradient_bottom_green_seekbar::-moz-range-thumb,
.solid_green_seekbar::-moz-range-thumb {
  background-color: #388e3c;
}

.gradient_top_blue_seekbar::-moz-range-thumb,
.gradient_bottom_blue_seekbar::-moz-range-thumb,
.solid_blue_seekbar::-moz-range-thumb {
  background-color: #1976d2;
}

.toggle-checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggle-checkbox::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background-color: var(--card-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggle-checkbox:checked {
  background-color: rgba(var(--text-color-rgb), 0.6);
}

.toggle-checkbox:checked::before {
  left: 22.5px;
  background-color: var(--text-color);
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: var(--text-color);
  background-color: var(--base-color);
}

html h1,
html h2,
html h3,
html h4,
html h5,
html p,
body h1,
body h2,
body h3,
body h4,
body h5,
body p {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .menu {
  width: 96px;
  height: 100vh;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--background-color);
}

.container .menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .menu div .logo {
  cursor: pointer;
  margin-top: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .menu div .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0 4px 4px rgba(187, 137, 1, 0.4));
          filter: drop-shadow(0 4px 4px rgba(187, 137, 1, 0.4));
}

.container .menu div ul {
  padding: 0;
  margin: 60px 0 0 0;
  list-style: none;
}

.container .menu div ul li {
  margin-bottom: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.container .menu div ul li:hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container .menu div ul .home-item {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu div ul .create-item {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu div ul .extract-item {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu div ul .harmonizer-item {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu div ul .saved-item {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu .settings {
  cursor: pointer;
  margin-bottom: 50px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container .menu .settings:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-left: 1px;
}

.container section .header {
  width: 100%;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--background-color);
}

.container section .header div {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container section .header div h1 {
  color: var(--text-color);
  font-size: 32px;
  font-weight: 900;
}

.container section .header div p {
  color: #808080;
  font-weight: 900;
  font-size: 14px;
  margin: 0 0 4px 8px;
}

.container section .header img {
  cursor: pointer;
  margin-right: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container section .header img:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section .material-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}

.container section .material-color .color-shades {
  width: 100%;
  height: auto;
  padding: 16px 20px 16px 20px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  background-color: var(--background-color);
}

.container section .material-color .color-shades .color-shade {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 24px;
  margin: 16px 20px 16px 20px;
  background-color: var(--card-color);
  -webkit-filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.15));
}

.container section .material-color .color-shades .color-shade div:nth-child(1) {
  width: 100%;
  height: 74%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
}

.container section .material-color .color-shades .color-shade div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 20px;
}

.container section .material-color .color-shades .color-shade div:nth-child(2) div p:nth-child(1) {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 2px;
}

.container section .material-color .color-shades .color-shade div:nth-child(2) div p:nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}

.container section .material-color .color-shades .color-shade div:nth-child(2) img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .material-color .color-shades .color-shade div:nth-child(2) img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .material-color .color-shades .color-shade:hover {
  -webkit-filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.15));
}

.container section .material-color .color-shades .color-shade:hover div {
  -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
          filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
}

.container section .material-color .color-holder {
  width: 218px;
  padding: 12px;
  margin-left: 1px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  grid-auto-rows: 72px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background-color: var(--background-color);
}

.container section .material-color .color-holder .color-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 8px 10px 8px 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container section .material-color .color-holder .color-item .selector {
  width: 10px;
  height: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  margin: 0 10px 10px 0;
  background-color: var(--card-color);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.4));
}

.container section .material-color .color-holder .color-item:hover {
  border-radius: 20px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section .material-color .color-holder .color-item:hover .selector {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section .create-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}

.container section .create-color .solid-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--background-color);
}

.container section .create-color .solid-section .solid-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-header .solid-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 0 32px;
}

.container section .create-color .solid-section .solid-header .solid-header-title p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.container section .create-color .solid-section .solid-header .solid-alpha-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 32px 0 0;
}

.container section .create-color .solid-section .solid-header .solid-alpha-control p {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.container section .create-color .solid-section .solid-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 48px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 24px;
  background-color: var(--card-color);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.container section .create-color .solid-section .solid-body .solid-color {
  width: 55%;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  -webkit-filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));
}

.container section .create-color .solid-section .solid-body .solid-color:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
}

.container section .create-color .solid-section .solid-body .solid-control {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--text-color);
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes {
  margin: 32px;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hex div img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hex div img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hex div img:nth-child(2) {
  margin-left: 16px;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-rgb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-rgb div img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-rgb div img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-rgb div img:nth-child(2) {
  margin-left: 16px;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsv img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsv img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsl img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-hsl img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-cmyk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-cmyk img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .solid-section .solid-body .solid-control .solid-attributes .solid-cmyk img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars {
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(1) {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(1) li {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(2) {
  margin: 0 0 0 10px;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(2) li {
  list-style-type: none;
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(2) li input[type='range'] {
  width: 88%;
}

.container section .create-color .solid-section .solid-body .solid-control .seekbars ul:nth-child(2) li input[type='range']:nth-child(1) {
  -webkit-transition: 0.5;
  transition: 0.5;
}

.container section .create-color .gradient-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: var(--background-color);
}

.container section .create-color .gradient-section .gradient-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .gradient-section .gradient-header .gradient-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 0 0 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .create-color .gradient-section .gradient-header .gradient-header-title p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.container section .create-color .gradient-section .gradient-header .gradient-alpha-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 32px 0 0;
}

.container section .create-color .gradient-section .gradient-header .gradient-alpha-control p {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.container section .create-color .gradient-section .gradient-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 48px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 24px;
  background-color: var(--card-color);
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}

.container section .create-color .gradient-section .gradient-body .gradient-color {
  width: 55%;
  height: 100%;
  cursor: pointer;
  border-radius: inherit;
  -webkit-filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));
}

.container section .create-color .gradient-section .gradient-body .gradient-color:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
}

.container section .create-color .gradient-section .gradient-body .gradient-control {
  width: 45%;
  height: 100%;
  margin: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--text-color);
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom {
  margin: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-hex,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-hex,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-hex,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-hex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-hex div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-hex div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-hex div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-hex div img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-hex div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-hex div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-hex div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-hex div img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-hex div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-hex div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-hex div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-hex div img:nth-child(2) {
  margin-left: 16px;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-rgba,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-rgba,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-rgba,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-rgba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-rgba div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-rgba div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-rgba div img,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-rgba div img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-rgba div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-rgba div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-rgba div img:hover,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-rgba div img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-rgba div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-rgba div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-rgba div img:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-rgba div img:nth-child(2) {
  margin-left: 16px;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders ul:nth-child(1),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders ul:nth-child(1),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders ul:nth-child(1),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders ul:nth-child(1) {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders ul:nth-child(1) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders ul:nth-child(1) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders ul:nth-child(1) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders ul:nth-child(1) li {
  font-size: 18px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style-type: none;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders ul:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders ul:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders ul:nth-child(2),
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders ul:nth-child(2) {
  margin: 0 0 0 14px;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders ul:nth-child(2) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders ul:nth-child(2) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders ul:nth-child(2) li,
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders ul:nth-child(2) li {
  list-style-type: none;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-top-sliders ul:nth-child(2) li input[type='range'],
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-top .gradient-bottom-sliders ul:nth-child(2) li input[type='range'],
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-top-sliders ul:nth-child(2) li input[type='range'],
.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom .gradient-bottom-sliders ul:nth-child(2) li input[type='range'] {
  width: 100%;
}

.container section .create-color .gradient-section .gradient-body .gradient-control .gradient-bottom {
  margin: 16px 16px 24px 16px;
}

.container section .extract-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1px;
  overflow: hidden;
}

.container section .extract-color .swatch-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth !important;
  background-color: var(--background-color);
}

.container section .extract-color .swatch-section::-webkit-scrollbar {
  width: 8px;
}

.container section .extract-color .swatch-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.container section .extract-color .swatch-section::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(var(--text-color-rgb), 0.8);
}

.container section .extract-color .swatch-section .swatch-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .extract-color .swatch-section .swatch-header .swatch-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 0 32px;
}

.container section .extract-color .swatch-section .swatch-header .swatch-header-title p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.container section .extract-color .swatch-section .swatch-body {
  margin: 48px 48px 0 48px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser {
  width: 100%;
  min-height: 256px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  aspect-ratio: 3/1.5;
  border-radius: 24px;
  background-color: var(--card-color);
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser:hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser .cosmetic-file-input {
  display: none;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser .selected-image {
  position: fixed;
  max-height: 100%;
  max-width: 100%;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser .logo-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser .logo-info img {
  width: 64px;
  aspect-ratio: 1/1;
}

.container section .extract-color .swatch-section .swatch-body .swatch-img-chooser .logo-info p {
  margin-top: 10px;
  color: #808080;
  font-weight: 700;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches {
  width: 95%;
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 12px 0;
  border-radius: 18px;
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item:hover {
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item p {
  margin: 12px 0 0 16px;
  font-size: 20px;
  font-weight: 700;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-hex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-hex p {
  margin: 0 0 0 16px;
  font-size: 17px;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-hex img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5px;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-hex img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-rgb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px 0 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-rgb p {
  margin: 0 0 0 16px;
  font-size: 17px;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-rgb img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5px;
}

.container section .extract-color .swatch-section .swatch-body .extracted-swatches .swatch-item .swatch-rgb img:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container section .extract-color .palette-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth !important;
  background-color: var(--background-color);
}

.container section .extract-color .palette-section::-webkit-scrollbar {
  width: 8px;
}

.container section .extract-color .palette-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.container section .extract-color .palette-section::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(var(--text-color-rgb), 0.8);
}

.container section .extract-color .palette-section .palette-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .extract-color .palette-section .palette-header .palette-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 0 32px;
}

.container section .extract-color .palette-section .palette-header .palette-header-title p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.container section .extract-color .manual-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-behavior: smooth !important;
  background-color: var(--background-color);
}

.container section .extract-color .manual-section::-webkit-scrollbar {
  width: 8px;
}

.container section .extract-color .manual-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.container section .extract-color .manual-section::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(var(--text-color-rgb), 0.8);
}

.container section .extract-color .manual-section .manual-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .extract-color .manual-section .manual-header .manual-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 0 32px;
}

.container section .extract-color .manual-section .manual-header .manual-header-title p {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

.container section .harmonize-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}

.container section .saved-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 1px;
}

.container section footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 72px;
  margin-top: 1px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--background-color);
}

.container section footer p {
  color: #808080;
  font-size: 18px;
  font-weight: 600;
  margin-left: 50px;
}

.container section footer p span {
  color: #606060;
  font-weight: 900;
  cursor: pointer;
}

.container section footer ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 8px 50px 0 0;
}

.container section footer ul li {
  cursor: pointer;
  margin-left: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container section footer ul li:nth-child(1) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(14, 118, 168, 0.5));
          filter: drop-shadow(0 4px 4px rgba(14, 118, 168, 0.5));
}

.container section footer ul li:nth-child(1):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section footer ul li:nth-child(2) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(23, 21, 21, 0.5));
          filter: drop-shadow(0 4px 4px rgba(23, 21, 21, 0.5));
}

.container section footer ul li:nth-child(2):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section footer ul li:nth-child(3) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(255, 51, 51, 0.5));
          filter: drop-shadow(0 4px 4px rgba(255, 51, 51, 0.5));
}

.container section footer ul li:nth-child(3):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section footer ul li:nth-child(4) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(59, 89, 152, 0.5));
          filter: drop-shadow(0 4px 4px rgba(59, 89, 152, 0.5));
}

.container section footer ul li:nth-child(4):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section footer ul li:nth-child(5) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 172, 238, 0.5));
          filter: drop-shadow(0 4px 4px rgba(0, 172, 238, 0.5));
}

.container section footer ul li:nth-child(5):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.container section footer ul li:nth-child(6) {
  -webkit-filter: drop-shadow(0 4px 4px rgba(255, 51, 51, 0.5));
          filter: drop-shadow(0 4px 4px rgba(255, 51, 51, 0.5));
}

.container section footer ul li:nth-child(6):hover {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0));
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  opacity: 0.5;
}

.toast {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 370px 8px 0;
  border-radius: 10px;
  padding: 10px 16px;
  font-size: medium;
  -webkit-animation: 0.3s ease 0s 1 toast-anim;
          animation: 0.3s ease 0s 1 toast-anim;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--background-color);
  background-color: var(--text-color);
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .modal-container {
  width: 360px;
  border-radius: 28px 28px 24px 24px;
  color: var(--text-color);
  background-color: var(--text-color);
}

.modal .modal-container .modal-content {
  border-radius: 24px;
  padding: 16px 20px 20px 20px;
  -webkit-filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  background-color: var(--card-color);
}

.modal .modal-container .modal-content .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-container .modal-content .modal-header img {
  width: 20px;
  height: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.modal .modal-container .modal-content .modal-header img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

.modal .modal-container .modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-container .modal-content .modal-body ul {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 10px 0 20px;
}

.modal .modal-container .modal-content .modal-body ul li {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}

.modal .modal-container .modal-content .modal-body input {
  width: 56%;
  border: none;
  font-size: 22px;
  margin-top: 24px;
  text-align: center;
  color: var(--text-color);
  background-color: var(--card-color);
  padding: 10px 10px 5px 10px;
  border-bottom: 2px solid #808080;
}

.modal .modal-container .modal-content .modal-body input:focus {
  outline: none;
}

.modal .modal-container .modal-button {
  padding: 8px 0 12px 0;
}

.modal .modal-container .modal-button p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-size: large;
  font-weight: 900;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: var(--background-color);
}

.modal .modal-container .modal-button p:hover {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
/*# sourceMappingURL=App.css.map */