@import './variables';
@import './mixin';
@import './anim';

@import './slider';
@import './checkbox';

html,
body {
   height: 100vh;
   width: 100vw;

   margin: 0;
   padding: 0;

   font-family: 'Quicksand', sans-serif;
   overflow: hidden;

   h1,
   h2,
   h3,
   h4,
   h5,
   p {
      margin: 0;
      padding: 0;
      user-select: none;
   }

   transition: 0.3s;
   color: var(--text-color);
   background-color: var(--base-color);
}

.container {
   display: flex;
   align-items: flex-start;

   .menu {
      width: 96px;
      height: 100vh;

      transition: 0.6s;
      @include centerItems();
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--background-color);

      div {
         @include centerItems();
         justify-content: flex-start;
         flex-direction: column;

         .logo {
            cursor: pointer;
            margin-top: 24px;
            transition: 0.3s;

            &:hover {
               transform: scale(1.1);
               @include iconDropShadow(rgba(187, 137, 1, 0.4));
            }
         }

         ul {
            padding: 0;
            margin: 60px 0 0 0;
            list-style: none;

            li {
               margin-bottom: 40px;
               transition: 0.3s;
               cursor: pointer;

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            .home-item {
               @include iconDropShadow(rgba(0, 0, 0, 0.4));
            }

            .create-item {
               @include iconDropShadow(rgba(0, 0, 0, 0.4));
            }

            .extract-item {
               @include iconDropShadow(rgba(0, 0, 0, 0.4));
            }

            .harmonizer-item {
               @include iconDropShadow(rgba(0, 0, 0, 0.4));
            }

            .saved-item {
               @include iconDropShadow(rgba(0, 0, 0, 0.4));
            }
         }
      }

      .settings {
         cursor: pointer;
         margin-bottom: 50px;
         justify-self: end;
         transition: 0.3s;
         @include iconDropShadow(rgba(0, 0, 0, 0.4));

         &:hover {
            transform: rotate(45deg);
            @include iconDropShadow(rgba(0, 0, 0, 0));
         }
      }
   }

   section {
      display: flex;
      flex-direction: column;

      width: 100vw;
      height: 100vh;
      margin-left: 1px;

      .header {
         width: 100%;
         height: 96px;

         display: flex;
         transition: 0.6s;
         align-items: center;
         justify-content: space-between;
         background-color: var(--background-color);

         div {
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            h1 {
               color: var(--text-color);
               font-size: 32px;
               font-weight: 900;
            }

            p {
               color: #808080;
               font-weight: 900;
               font-size: 14px;
               margin: 0 0 4px 8px;
            }
         }

         img {
            cursor: pointer;
            margin-right: 50px;
            transition: 0.3s;
            @include iconDropShadow(rgba(0, 0, 0, 0.4));

            &:hover {
               transform: rotate(45deg);
               @include iconDropShadow(rgba(0, 0, 0, 0));
            }
         }
      }

      .material-color {
         display: flex;
         width: 100%;
         height: 100%;
         margin-top: 1px;

         .color-shades {
            width: 100%;
            height: auto;
            padding: 16px 20px 16px 20px;

            display: grid;
            transition: 0.6s;
            grid-template-columns: repeat(5, 1fr);
            background-color: var(--background-color);

            .color-shade {
               cursor: pointer;
               transition: 0.4s;
               border-radius: 24px;
               margin: 16px 20px 16px 20px;
               background-color: var(--card-color);
               filter: drop-shadow(0 3px 4px rgba(0, 0, 0, 0.15));

               div:nth-child(1) {
                  width: 100%;
                  height: 74%;

                  transition: 0.3s;
                  align-items: center;
                  border-radius: 24px;
                  justify-content: center;
                  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
               }

               div:nth-child(2) {
                  display: flex;
                  margin: 5px 20px;

                  div {
                     p:nth-child(1) {
                        font-size: 20px;
                        font-weight: 900;
                        margin-bottom: 2px;
                     }

                     p:nth-child(2) {
                        font-size: 16px;
                        font-weight: 600;
                     }
                  }

                  img {
                     transition: 0.3s;
                  }

                  img:hover {
                     transform: scale(0.9);
                  }
               }

               &:hover {
                  filter: drop-shadow(0 0px 4px rgba(0, 0, 0, 0.15));

                  div {
                     filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
                  }
               }
            }
         }

         .color-holder {
            width: 218px;
            padding: 12px;
            margin-left: 1px;

            display: grid;
            transition: 0.6s;
            grid-auto-rows: 72px;
            grid-template-columns: repeat(2, 1fr);
            background-color: var(--background-color);

            .color-item {
               display: flex;
               cursor: pointer;
               transition: 0.3s;
               border-radius: 16px;
               align-items: flex-end;
               margin: 8px 10px 8px 10px;
               justify-content: flex-end;
               @include iconDropShadow(rgba(0, 0, 0, 0.4));

               .selector {
                  width: 10px;
                  height: 10px;
                  transition: 0.3s;
                  border-radius: 50%;
                  margin: 0 10px 10px 0;
                  background-color: var(--card-color);
                  @include iconDropShadow(rgba(0, 0, 0, 0.4));
               }

               &:hover {
                  border-radius: 20px;
                  @include iconDropShadow(rgba(0, 0, 0, 0));

                  .selector {
                     transform: scale(1.1);
                     @include iconDropShadow(rgba(0, 0, 0, 0));
                  }
               }
            }
         }
      }

      .create-color {
         display: flex;
         width: 100%;
         height: 100%;
         margin-top: 1px;

         .solid-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            transition: 0.6s;
            background-color: var(--background-color);

            .solid-header {
               display: flex;
               justify-content: space-between;

               .solid-header-title {
                  display: flex;
                  align-items: center;
                  margin: 32px 0 0 32px;

                  p {
                     font-size: 20px;
                     margin-left: 10px;
                     font-weight: bold;
                  }
               }

               .solid-alpha-control {
                  display: flex;
                  align-items: center;
                  margin: 32px 32px 0 0;

                  p {
                     font-size: 20px;
                     margin-right: 10px;
                     font-weight: bold;
                  }
               }
            }

            .solid-body {
               display: flex;
               height: 100%;
               margin: 48px;
               transition: 0.6s;
               border-radius: 24px;
               background-color: var(--card-color);
               filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));

               .solid-color {
                  width: 55%;
                  height: 100%;
                  cursor: pointer;
                  border-radius: inherit;
                  filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));

                  &:hover {
                     transition: 0.3s ease-in-out;
                     filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
                  }
               }

               .solid-control {
                  width: 45%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  color: var(--text-color);

                  .solid-attributes {
                     margin: 32px;

                     .solid-hex {
                        display: flex;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        div {
                           img {
                              transition: 0.3s;
                           }

                           img:hover {
                              cursor: pointer;
                              transform: scale(0.9);
                           }

                           img:nth-child(2) {
                              margin-left: 16px;
                           }
                        }
                     }

                     .solid-rgb {
                        display: flex;
                        margin-top: 16px;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        div {
                           img {
                              transition: 0.3s;
                           }

                           img:hover {
                              cursor: pointer;
                              transform: scale(0.9);
                           }

                           img:nth-child(2) {
                              margin-left: 16px;
                           }
                        }
                     }

                     .solid-hsv {
                        display: flex;
                        margin-top: 16px;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        img {
                           transition: 0.3s;
                        }

                        img:hover {
                           cursor: pointer;
                           transform: scale(0.9);
                        }
                     }

                     .solid-hsl {
                        display: flex;
                        margin-top: 16px;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        img {
                           transition: 0.3s;
                        }

                        img:hover {
                           cursor: pointer;
                           transform: scale(0.9);
                        }
                     }

                     .solid-cmyk {
                        display: flex;
                        margin-top: 16px;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        img {
                           transition: 0.3s;
                        }

                        img:hover {
                           cursor: pointer;
                           transform: scale(0.9);
                        }
                     }
                  }

                  .seekbars {
                     margin-bottom: 64px;
                     display: flex;
                     align-self: center;
                     width: 100%;
                     height: 100%;
                     transform: rotate(-90deg);

                     ul:nth-child(1) {
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        li {
                           margin-bottom: 2px;
                           font-size: 18px;
                           font-weight: bold;
                           user-select: none;
                           list-style-type: none;
                        }
                     }

                     ul:nth-child(2) {
                        margin: 0 0 0 10px;
                        padding: 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        li {
                           list-style-type: none;

                           input[type='range'] {
                              width: 88%;
                           }

                           input[type='range']:nth-child(1) {
                              transition: 0.5;
                           }
                        }
                     }
                  }
               }
            }
         }

         .gradient-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin-left: 1px;
            transition: 0.6s;
            background-color: var(--background-color);

            .gradient-header {
               display: flex;
               justify-content: space-between;

               .gradient-header-title {
                  display: flex;
                  margin: 32px 0 0 32px;
                  align-items: center;

                  p {
                     font-size: 20px;
                     margin-left: 10px;
                     font-weight: bold;
                  }
               }

               .gradient-alpha-control {
                  display: flex;
                  align-items: center;
                  margin: 32px 32px 0 0;

                  p {
                     font-size: 20px;
                     margin-right: 10px;
                     font-weight: bold;
                  }
               }
            }

            .gradient-body {
               display: flex;
               height: 100%;
               margin: 48px;
               transition: 0.6s;
               border-radius: 24px;
               background-color: var(--card-color);
               filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));

               .gradient-color {
                  width: 55%;
                  height: 100%;
                  cursor: pointer;
                  border-radius: inherit;
                  filter: drop-shadow(4px 0 8px rgba(0, 0, 0, 0.2));

                  &:hover {
                     transition: 0.3s ease-in-out;
                     filter: drop-shadow(2px 0 4px rgba(0, 0, 0, 0.1));
                  }
               }

               .gradient-control {
                  width: 45%;
                  height: 100%;
                  margin: 16px;
                  display: flex;
                  flex-direction: column;
                  color: var(--text-color);

                  .gradient-top,
                  .gradient-bottom {
                     margin: 16px;
                     height: 100%;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;

                     .gradient-top-hex,
                     .gradient-bottom-hex {
                        display: flex;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        div {
                           img {
                              transition: 0.3s;
                           }

                           img:hover {
                              cursor: pointer;
                              transform: scale(0.9);
                           }

                           img:nth-child(2) {
                              margin-left: 16px;
                           }
                        }
                     }

                     .gradient-top-rgba,
                     .gradient-bottom-rgba {
                        display: flex;
                        margin-top: 16px;
                        font-size: 18px;
                        font-weight: bold;
                        align-items: center;
                        justify-content: space-between;

                        div {
                           img {
                              transition: 0.3s;
                           }

                           img:hover {
                              cursor: pointer;
                              transform: scale(0.9);
                           }

                           img:nth-child(2) {
                              margin-left: 16px;
                           }
                        }
                     }

                     .gradient-top-sliders,
                     .gradient-bottom-sliders {
                        display: flex;
                        height: 100%;

                        ul:nth-child(1) {
                           margin: 0;
                           padding: 0;
                           display: flex;
                           flex-direction: column;
                           justify-content: space-evenly;

                           li {
                              font-size: 18px;
                              font-weight: bold;
                              user-select: none;
                              list-style-type: none;
                           }
                        }

                        ul:nth-child(2) {
                           margin: 0 0 0 14px;
                           padding: 0;
                           width: 100%;
                           display: flex;
                           flex-direction: column;
                           justify-content: space-evenly;

                           li {
                              list-style-type: none;

                              input[type='range'] {
                                 width: 100%;
                              }
                           }
                        }
                     }
                  }

                  .gradient-bottom {
                     margin: 16px 16px 24px 16px;
                  }
               }
            }
         }
      }

      .extract-color {
         display: flex;
         width: 100%;
         height: 100%;
         margin-top: 1px;
      }

      .harmonize-color {
         display: flex;
         width: 100%;
         height: 100%;
         margin-top: 1px;
      }

      .saved-color {
         display: flex;
         width: 100%;
         height: 100%;
         margin-top: 1px;
      }

      footer {
         display: flex;
         width: 100%;
         height: 72px;

         margin-top: 1px;
         transition: 0.6s;
         flex-direction: row;
         @include centerItems();
         justify-content: space-between;
         background-color: var(--background-color);

         p {
            color: #808080;
            font-size: 18px;
            font-weight: 600;
            margin-left: 50px;

            span {
               color: #606060;
               font-weight: 900;
               cursor: pointer;
            }
         }

         ul {
            padding: 0;
            display: flex;
            list-style: none;
            margin: 8px 50px 0 0;

            li {
               cursor: pointer;
               margin-left: 24px;
               transition: 0.3s;
            }

            li:nth-child(1) {
               @include iconDropShadow(rgba(14, 118, 168, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            li:nth-child(2) {
               @include iconDropShadow(rgba(23, 21, 21, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            li:nth-child(3) {
               @include iconDropShadow(rgba(255, 51, 51, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            li:nth-child(4) {
               @include iconDropShadow(rgba(59, 89, 152, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            li:nth-child(5) {
               @include iconDropShadow(rgba(0, 172, 238, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }

            li:nth-child(6) {
               @include iconDropShadow(rgba(255, 51, 51, 0.5));

               &:hover {
                  @include iconDropShadow(rgba(0, 0, 0, 0));
               }
            }
         }
      }
   }
}

.disabled {
   opacity: 0.5;

   &:hover {
      opacity: 0.5;
   }
}

.toast {
   display: none;
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 0 370px 8px 0;
   border-radius: 10px;
   padding: 10px 16px;
   font-size: medium;
   animation: 0.3s ease 0s 1 toast-anim;
   z-index: 2;
   user-select: none;
   color: var(--background-color);
   background-color: var(--text-color);
}

.modal {
   display: flex;
   position: fixed;
   align-items: center;
   justify-content: center;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   transition: 0.3s linear;
   background-color: rgba(0, 0, 0, 0.6);

   .modal-container {
      width: 360px;
      border-radius: 28px 28px 24px 24px;
      color: var(--text-color);
      background-color: var(--text-color);

      .modal-content {
         border-radius: 24px;
         padding: 16px 20px 20px 20px;
         filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
         background-color: var(--card-color);

         .modal-header {
            display: flex;
            user-select: none;
            align-items: center;
            justify-content: space-between;

            img {
               width: 20px;
               height: 20px;
               transition: 0.2s;
            }

            img:hover {
               transform: scale(0.9);
               cursor: pointer;
            }
         }

         .modal-body {
            display: flex;
            margin-top: 16px;
            flex-direction: column;
            align-items: center;

            ul {
               margin: 0;
               user-select: none;
               padding: 0 10px 0 20px;

               li {
                  margin-top: 8px;
                  font-size: 18px;
                  font-weight: 600;
               }
            }

            input {
               width: 56%;
               border: none;
               font-size: 22px;
               margin-top: 24px;
               text-align: center;
               color: var(--text-color);
               background-color: var(--card-color);
               padding: 10px 10px 5px 10px;
               border-bottom: 2px solid #808080;

               &:focus {
                  outline: none;
               }
            }
         }
      }

      .modal-button {
         padding: 8px 0 12px 0;

         p {
            user-select: none;
            text-align: center;
            font-size: large;
            font-weight: 900;
            transition: 0.2s;
            color: var(--background-color);

            &:hover {
               cursor: pointer;
               transform: scale(0.9);
            }
         }
      }
   }
}
