@import './mixin';

.menu {
   width: 96px;
   height: 100vh;

   @include centerItems();
   flex-direction: column;
   justify-content: space-between;
   background-color: white;

   div {
      @include centerItems();
      justify-content: start;
      flex-direction: column;

      .logo {
         cursor: pointer;
         margin-top: 24px;
         transition: 0.3s;

         &:hover {
            transform: scale(1.1);
            @include iconDropShadow(rgba(187, 137, 1, 0.4));
         }
      }

      ul {
         padding: 0;
         margin: 60px 0 0 0;
         list-style: none;

         li {
            margin-bottom: 50px;
            transition: 0.3s;
            cursor: pointer;
         }

         li:nth-child(1) {
            @include iconDropShadow(rgba(0, 0, 0, 0.4));

            &:hover {
               @include iconDropShadow(rgba(0, 0, 0, 0));
            }
         }
      }
   }

   .settings {
      cursor: pointer;
      margin-bottom: 50px;
      justify-self: end;
      transition: 0.3s;
      @include iconDropShadow(rgba(0, 0, 0, 0.4));

      &:hover {
         transform: rotate(45deg);
         @include iconDropShadow(rgba(0, 0, 0, 0));
      }
   }
}
